<phpunit colors="true"
 beStrictAboutChangesToGlobalState="true"
 beStrictAboutOutputDuringTests="true"
 beStrictAboutTestSize="true"
 beStrictAboutTestsThatDoNotTestAnything="true"
 checkForUnintentionallyCoveredCode="true"
>
 <php>
  <includePath>../</includePath>
 </php>
 <filter>
  <whitelist addUncoveredFilesFromWhitelist="true">
   <directory suffix=".php">../Services/</directory>
  </whitelist>
 </filter>
</phpunit>
